@media screen and (max-width:576px) {
    #invisible {
        display: none;
    }
}

.container {
    width: 80%;
}

.img-nav {
    width: 60px;
}

.card-img-top {
    width: 200px;
}

.img-off {
    width: 800px;
    height: 200px;
    object-fit: cover;
}
